## Core latex/pdflatex auxiliary files:
*.bbl
*.bcf
*.blg
*.run.xml
programs/gr-time_synchronisation
programs/last_work
*__pycache__
*.bib
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.fmt
*.fot
*.cb
*.cb2
*.lb
serials_list.py
articles/
lab_visits/day*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.rubbercache
rubber.cache
ltex.*
